<section class="faq-block p-y6 p-md-y7">
    <div class="lyt u-justify-center">
        <div class="lyt-1 lyt-md-1-2">
            <div class="faq-block-cat">
                <h2 class="text-h2">Vraag &amp; Antwoord</h2>
                <div class="faq-section m-b4 m-t4">
                    <hr class="hr">
                    <div class="faq-section-item p-y2" data-target="faq-section-item">
                        <a href="#" class="u-flex u-space-between u-align-start" data-js-click="activateFaqItem"
                            data-class-name="faq-section-item-active" data-target-closest="faq-section-item">
                            <span class="text-h4 p-r5">Kan ik de tool inzetten?</span>
                            <img src="https://www.polisnl.org/user/themes/polis-nl/icon/plus.svg"
                                class="faq-section-icon-inactive">
                            <img src="https://www.polisnl.org/user/themes/polis-nl/icon/minus.svg"
                                class="faq-section-icon-active">
                        </a>
                        <div class="faq-section-a">
                            <div class="markup-zone m-t2 p-r5">
                                <p>Ja, dat kan. Neem hiervoor <a href="/contact">contact</a> op met ons.</p>
                            </div>
                        </div>
                    </div>
                    <hr class="hr">
                    <div class="faq-section-item p-y2" data-target="faq-section-item">
                        <a href="#" class="u-flex u-space-between u-align-start" data-js-click="activateFaqItem"
                            data-class-name="faq-section-item-active" data-target-closest="faq-section-item">
                            <span class="text-h4 p-r5">Op wat voor manieren kun je de tool inzetten?</span>
                            <img src="https://www.polisnl.org/user/themes/polis-nl/icon/plus.svg"
                                class="faq-section-icon-inactive">
                            <img src="https://www.polisnl.org/user/themes/polis-nl/icon/minus.svg"
                                class="faq-section-icon-active">
                        </a>
                        <div class="faq-section-a">
                            <div class="markup-zone m-t2 p-r5">
                                <p>Wat Polis uniek maakt, is dat deelnemers zelf stellingen kunnen toevoegen aan
                                    de dialoog, waar vervolgens anderen op kunnen reageren. Dat maakt de tool
                                    zeer geschikt voor de oriëntatie op een onderwerp, bijvoorbeeld als je
                                    ideeën wilt ophalen of aannames wilt toetsen. Ook zijn er goede ervaringen
                                    met de inzet van de tool bij sterk gepolariseerde onderwerpen. Nog niet alle
                                    mogelijkheden van de tool zijn ontdekt, dus heb je een heel ander idee, voel
                                    je zeker vrij om dit uit te proberen en hou ons als ontwikkelaars op de
                                    hoogte.</p>
                            </div>
                        </div>
                    </div>
                    <hr class="hr">
                    <div class="faq-section-item p-y2" data-target="faq-section-item">
                        <a href="#" class="u-flex u-space-between u-align-start" data-js-click="activateFaqItem"
                            data-class-name="faq-section-item-active" data-target-closest="faq-section-item">
                            <span class="text-h4 p-r5">Vanaf hoeveel deelnemers kun je Polis gebruiken?</span>
                            <img src="https://www.polisnl.org/user/themes/polis-nl/icon/plus.svg"
                                class="faq-section-icon-inactive">
                            <img src="https://www.polisnl.org/user/themes/polis-nl/icon/minus.svg"
                                class="faq-section-icon-active">
                        </a>
                        <div class="faq-section-a">
                            <div class="markup-zone m-t2 p-r5">
                                <p>Hoe groter de groep, hoe interessanter de resultaten worden. We raden een
                                    minimum van 10 deelnemers aan. Vanaf 100 deelnemers worden de resultaten
                                    over het algemeen interessanter, omdat er dan meer stellingen zijn
                                    ingebracht door de deelnemers zelf. Dan kan er echt een dialoog ontstaan
                                    tussen de deelnemers.</p>
                            </div>
                        </div>
                    </div>
                    <div class="m-t4">
                        <a href="/faq" class="text-h4 color-brand-1">Bekijk alle &rarr;</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>