<div class="gesprek-block color-bg-brand-4 p-y7">
    <div class="lyt">
        <div class="lyt-1">
            <h2 class="text-h1 u-text-center m-b5">
                Waar is Polis door anderen succesvol ingezet?
            </h2>
        </div>
    </div>
    <div class="lyt">



        <div class="lyt-1 lyt-md-1-3 m-b5">
            <div class="uitvraag color-bg-neutral-1 u-border-radius">
                <div class="uitvraag-teaser">

                    <div
                        style="background:url(https://www.polisnl.org/images/9/3/d/f/2/93df26bc32100e822a8d32f5d26c4905afc1b9fc-tote-bags.jpg); width: 100%; height: 180px; background-size: cover;">
                    </div>
                    <div class="p-x5 p-t4 p-b5">
                        <div style="min-height: 330px">
                            <div class="m-b3">
                                <div class="live u-inline-flex p-x2 color-bg-neutral-3 u-border-radius u-align-center">
                                    <span class="live-circle"></span>
                                    <span class="text-body-small m-x2"><b style="font-weight: bold">LIVE</b></span>
                                </div>
                            </div>
                            <h3 class="text-h2 m-b3">
                                Gesprek over Digitale Democratie in Europa
                            </h3>
                            <p class="text-body m-b4">Polis NL voert doorlopend het gesprek over het onderwerp
                                digitale democratie en onze Europese waarden.</p>
                            <div class="m-b4">
                                <div class="m-b3 u-flex u-align-center">
                                    <img src="https://www.polisnl.org/user/themes/polis-nl/icon-set/location.svg"
                                        class="icon icon-size-16 m-r2">
                                    <span class="text-body-small">Europa</span>
                                </div>
                                <div class="m-b3 u-flex u-align-center">
                                    <img src="https://www.polisnl.org/user/themes/polis-nl/icon-set/calendar.svg"
                                        class="icon icon-size-16 m-r2">
                                    <span class="text-body-small">Oktober 2025</span>
                                </div>
                                <div class="m-b3 u-flex u-align-center">
                                    <img src="https://www.polisnl.org/user/themes/polis-nl/icon-set/group.svg"
                                        class="icon icon-size-16 m-r2">
                                    <span class="text-body-small">Lopend</span>
                                </div>
                            </div>
                        </div>
                        <a href="https://praatmee.polisnl.org/?conversation_id=5wayrbfyjz" class="btn btn-wide">
                            Nu deelnemen
                            <img src="https://www.polisnl.org/user/themes/polis-nl/icon-set/external-link-w.svg"
                                class="icon icon-size-16">
                        </a>
                    </div>
                </div>
            </div>
        </div>


        <div class="lyt-1 lyt-md-1-3 m-b5">
            <div class="uitvraag color-bg-neutral-1 u-border-radius">
                <div class="uitvraag-teaser">

                    <div
                        style="background:url(https://www.polisnl.org/images/a/4/8/6/7/a48670f1935b96e6d2f5f750b57d2564d9ff76a6-stemmen-uit-de-samenleving.png); width: 100%; height: 180px; background-size: cover;">
                    </div>
                    <div class="p-x5 p-t4 p-b5">
                        <div style="min-height: 330px">
                            <div class="m-b2 text-h4 color-neutral-4">
                                Afgerond
                            </div>
                            <h3 class="text-h2 m-b3">
                                Stemmen uit de samenleving
                            </h3>
                            <p class="text-body m-b4">Hoe moeten partijen zich inzetten voor de digitalisering
                                in Nederland? Laat je stem horen en denk mee over digitale kwesties als AI en
                                sociale media.</p>
                            <div class="m-b4">
                                <div class="m-b3 u-flex u-align-center">
                                    <img src="https://www.polisnl.org/user/themes/polis-nl/icon-set/location.svg"
                                        class="icon icon-size-16 m-r2">
                                    <span class="text-body-small">Nederland</span>
                                </div>
                                <div class="m-b3 u-flex u-align-center">
                                    <img src="https://www.polisnl.org/user/themes/polis-nl/icon-set/calendar.svg"
                                        class="icon icon-size-16 m-r2">
                                    <span class="text-body-small">Oktober 2025</span>
                                </div>
                                <div class="m-b3 u-flex u-align-center">
                                    <img src="https://www.polisnl.org/user/themes/polis-nl/icon-set/group.svg"
                                        class="icon icon-size-16 m-r2">
                                    <span class="text-body-small">492</span>
                                </div>
                            </div>
                        </div>
                        <a href="https://polis.publicspaces.apprunner.nl/report/r7hm8rrmsr5k9cbvhii2d"
                            class="btn btn-ghost btn-wide">Bekijk resultaten</a>
                    </div>
                </div>
            </div>
        </div>


        <div class="lyt-1 lyt-md-1-3 m-b5">
            <div class="uitvraag color-bg-neutral-1 u-border-radius">
                <div class="uitvraag-teaser">

                    <div
                        style="background:url(https://www.polisnl.org/images/2/c/a/4/9/2ca49961a750a505e5b2d1ea72b545e547796fc2-fietsers-wij-zijn-drenthe-min-1-2048x1485.jpg); width: 100%; height: 180px; background-size: cover;">
                    </div>
                    <div class="p-x5 p-t4 p-b5">
                        <div style="min-height: 330px">
                            <div class="m-b2 text-h4 color-neutral-4">
                                Afgerond
                            </div>
                            <h3 class="text-h2 m-b3">
                                Wat vind jij van fietsen in Drenthe?
                            </h3>
                            <p class="text-body m-b4">Praat mee en deel jouw ideeën over verkeersveiligheid,
                                betere fietspaden, doorfietsroutes en het stimuleren van fietsen in Drenthe.</p>
                            <div class="m-b4">
                                <div class="m-b3 u-flex u-align-center">
                                    <img src="https://www.polisnl.org/user/themes/polis-nl/icon-set/location.svg"
                                        class="icon icon-size-16 m-r2">
                                    <span class="text-body-small">Provincie Drenthe</span>
                                </div>
                                <div class="m-b3 u-flex u-align-center">
                                    <img src="https://www.polisnl.org/user/themes/polis-nl/icon-set/calendar.svg"
                                        class="icon icon-size-16 m-r2">
                                    <span class="text-body-small">April 2025</span>
                                </div>
                                <div class="m-b3 u-flex u-align-center">
                                    <img src="https://www.polisnl.org/user/themes/polis-nl/icon-set/group.svg"
                                        class="icon icon-size-16 m-r2">
                                    <span class="text-body-small">462</span>
                                </div>
                            </div>
                        </div>
                        <a href="https://wijzijndrenthe.nl/resultaten/" class="btn btn-ghost btn-wide">Bekijk
                            resultaten</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="lyt">
        <div class="lyt-1">
            <div class="m-b6 u-text-right">
                <a href="/gesprekken" class="color-brand-1 text-h4">Bekijk alle gesprekken &rarr;</a>
            </div>
        </div>
    </div>
</div>