<div class="imgtext-block p-y7">
    <div class="lyt ">
        <div class="lyt-1 lyt-md-1-2 lyt">
            <div class="">
                <img style="padding: 4em" src="{{ "/assets/img/screens.png" | relative_url }}" class="">
            </div>
        </div>
        <div class="lyt-1 lyt-md-1-2">
            <div class="lyt-md-5-6">
                <div class="markup-zone">
                    <a name="what-is-voxit"></a>
                    <h1>What is Voxit?</h1>
                    <p>
                        Voxit is a European tech platform for online digital discourse.
                        It aligns with democratic values through non-addictive design.
                        Voxit is focussed on increasing public trust by creating uncommon ground.
                        Both it’s algorithmic transparency and depolarising design contribute to strengthening the
                        democratic information
                        space.
                    </p>

                    <p>
                        Voxit is a European implementation of Polis, adapted to align with EU democratic values, data
                        protection standards
                        (GDPR), and accessibility.
                        Voxit is a participation tool, where thousands of people can enter into digital discourse to
                        explore a policy theme
                        or issue, through statements that they themselves can add to the conversation.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- <p>As a community-governed European digital commons, Voxit is an open ecosystem built to
    facilitate research and innovation into how algorithms and interfaces shape public
    debate. By lowering the barrier for experimentation, we ensure that every innovation
    contributes back to the commons - building a healthier, more transparent foundation for
    shared understanding and democratic discourse.</p> -->
<!-- <p>Voxit is an open-source, research-backed, and adaptable platform designed to power
    collective sense-making. It enables broad listening, ensuring every voice is heard while
    helping diverse groups move beyond polarization to find uncommon ground - scaling from
    local communities to entire nation-states.</p> -->