.bar {
  height: 16px;
  width: 100%;
  display: flex;
  cursor: pointer;
  position: relative;
}
.bar-agree {
  background: var(--color-bar-agree);
  background: var(--color-brand-1);
}
.bar-disagree {
  background: var(--color-bar-disagree);
}
.bar-skip {
  background: var(--color-bar-skip);
}
.bar-legend {
  display: none;
}
.bar:hover .bar-legend {
  display: block;
  position: absolute;
  top: 20px;
  left: 20px;
  background: #fff;
  padding: 16px;
  border-radius: 4px;
  box-shadow: var(--box-shadow-1);
  z-index: 9999;
}
html {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 62.5%;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body, h1, h2, h3, h4, h5, h6, p, ol, ul, figure, blockquote {
  margin: 0;
  padding: 0;
  font-weight: normal;
}
html, body {
  overflow-x: hidden;
  min-height: 100vh;
}
a {
  color: inherit;
  text-decoration: none;
}
ol, ul {
  list-style: none;
}
img {
  max-width: 100%;
  height: auto;
}
input[type=text] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.btn {
  border-radius: var(--border-radius-1);
  color: var(--color-neutral-0);
  padding: 8px 16px;
  background: var(--color-brand-1);
  display: inline-block;
  border: 0;
  font-family: var(--text-h4-font-family);
  font-weight: var(--text-h4-font-weight);
  font-size: var(--text-h4-sm-font-size);
  line-height: var(--text-h4-sm-line-height);
  text-transform: none;
}
@media screen and (min-width: 992px) {
  .btn {
    font-size: var(--text-h4-md-font-size);
    line-height: var(--text-h4-md-line-height);
  }
}
.btn.btn-wide {
  padding: 8px;
  text-align: center;
  display: block;
}
.btn.btn-statement {
  text-align: center;
}
@media screen and (min-width: 992px) {
  .btn.btn-statement {
    min-width: 120px;
  }
}
.btn.btn-statement:hover {
  background: var(--color-brand-hover-1);
}
.btn.btn-lg {
  padding: 12px 16px;
}
.btn.btn-xl {
  padding: 16px 24px;
}
.btn.btn-primary {
  background: var(--color-brand-1);
  border: 1px solid var(--color-brand-1);
  color: var(--color-neutral-1);
}
.btn.btn-secondary {
  background: var(--color-neutral-1);
  border: 1px solid var(--color-neutral-1);
  color: var(--color-neutral-0);
}
.btn.btn-ghost {
  background: none;
  border: 1px solid rgba(0, 0, 0, 0.1);
  color: var(--color-neutral-0);
}
.btn.btn-gray {
  background: var(--color-neutral-2);
  border: 1px solid var(--color-neutral-2);
  color: var(--color-neutral-0);
}
/*.btn.btn-white {
	background: var(--color-1;	
	border: 1px solid var(--color-1;
	color: var(--color-neutral-0;	
}*/
.btn.btn-shadow {
  background: var(--color-neutral-1);
  color: var(--color-neutral-0);
  box-shadow: var(--box-shadow);
  border: 0;
}
.btn.btn-shadow:hover {
  background: var(--color-brand-1);
  color: var(--color-neutral-1);
}
.btn.btn-link {
  background: none;
  color: var(--color-brand-1);
  border: 0;
  text-decoration: underline;
  padding-left: 0;
  padding-right: 0;
}
.burger {
  width: 24px;
  display: block;
}
.burger-line {
  width: 100%;
  height: 2px;
  background: var(--color-neutral-0);
  margin-top: 4px;
}
.burger-line.burger-line-2 {
  width: 75%;
}
.burger-close {
  display: none;
}
.burger.burger-active .burger-close {
  display: block;
}
.burger.burger-active .burger-line {
  display: none;
}
.color-brand-1 {
  color: var(--color-brand-1);
}
.color-bg-brand-1 {
  background-color: var(--color-brand-1);
}
.color-brand-2 {
  color: var(--color-brand-2);
}
.color-bg-brand-2 {
  background-color: var(--color-brand-2);
}
.color-brand-3 {
  color: var(--color-brand-3);
}
.color-bg-brand-3 {
  background-color: var(--color-brand-3);
}
.color-brand-4 {
  color: var(--color-brand-4);
}
.color-bg-brand-4 {
  background-color: var(--color-brand-4);
}
.color-neutral-0 {
  color: var(--color-neutral-0);
}
.color-bg-neutral-0 {
  background-color: var(--color-neutral-0);
}
.color-neutral-1 {
  color: var(--color-neutral-1);
}
.color-bg-neutral-1 {
  background-color: var(--color-neutral-1);
}
.color-neutral-2 {
  color: var(--color-neutral-2);
}
.color-bg-neutral-2 {
  background-color: var(--color-neutral-2);
}
.color-neutral-3 {
  color: var(--color-neutral-3);
}
.color-bg-neutral-3 {
  background-color: var(--color-neutral-3);
}
.color-neutral-4 {
  color: var(--color-neutral-4);
}
.color-bg-neutral-4 {
  background-color: var(--color-neutral-4);
}
.color-neutral-5 {
  color: var(--color-neutral-5);
}
.color-bg-neutral-5 {
  background-color: var(--color-neutral-5);
}
.color-neutral-6 {
  color: var(--color-neutral-6);
}
.color-bg-neutral-6 {
  background-color: var(--color-neutral-6);
}
.color-ui-1 {
  color: var(--color-ui-1);
}
.color-bg-ui-1 {
  background-color: var(--color-ui-1);
}
.color-ui-2 {
  color: var(--color-ui-2);
}
.color-bg-ui-2 {
  background-color: var(--color-ui-2);
}
.doc-nav {
  width: 360px;
  height: 100vh;
  position: fixed;
}
.doc-main {
  max-width: 660px;
  margin-left: 400px;
}
.doc-nav-item.doc-nav-item-active {
  font-weight: bold;
}
.doc-link {
  border: 1px solid #ccc;
  padding: 5px;
}
.ds-typography-label {
  background: #eee;
  color: #333;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 1.2rem;
  padding: 4px 8px;
  display: inline-block;
}
.faq-section-a {
  display: none;
}
.faq-section-item.faq-section-item-active .faq-section-a {
  display: block;
}
.faq-section-icon-inactive {
  display: block;
  position: relative;
  top: 2px;
}
.faq-section-icon-active {
  display: none;
}
.faq-section-item.faq-section-item-active .faq-section-icon-inactive {
  display: none;
}
.faq-section-item.faq-section-item-active .faq-section-icon-active {
  display: block;
  position: relative;
  top: 2px;
}
.flash-message {
  display: none;
  opacity: 1;
}
.flash-message.flash-message-active {
  display: block;
  position: fixed;
  top: var(--spacing-8);
  left: 50%;
  transform: translateX(-50%);
  color: var(--color-neutral-0);
  background-color: var(--color-ui-1);
  border-radius: 16px;
}
.follow-link {
  width: 400px;
  max-width: 100%;
  background: #fff;
  border-radius: 10px;
  box-shadow: var(--box-shadow-1);
}
.follow-link:hover {
  background: var(--color-brand-1);
  color: #fff;
}

/* anuphan-regular - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Anuphan";
  font-style: normal;
  font-weight: 400;
  src: url("/assets/fonts/anuphan-v4-latin-regular.woff2") format("woff2");
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* anuphan-600 - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Anuphan";
  font-style: normal;
  font-weight: 600;
  src: url("/assets/fonts/anuphan-v4-latin-600.woff2") format("woff2");
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* anuphan-700 - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Anuphan";
  font-style: normal;
  font-weight: 700;
  src: url("/assets/fonts/anuphan-v4-latin-700.woff2") format("woff2");
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
.footer-logo-gitlab {
  width: 28px;
}
.footer-logo-slack {
  max-width: 25px;
}
.footer-logo-particiapp {
  max-width: 140px;
}
.footer-logo-polis-pilot {
  max-width: 180px;
}
.footer-btn-link {
  border: 1px solid #ddd;
  border-radius: 4px;
}
.form-input {
  border: 1px solid var(--color-neutral-0);
  padding: var(--spacing-2);
  border-radius: var(--border-radius-1);
  outline-color: var(--color-brand-1);
}
.uitvraag-teaser {
  box-shadow: var(--box-shadow-1);
  border-radius: 6px;
}
.header-nav-active {
  color: var(--color-brand-1);
}
.help {
  position: relative;
  z-index: 9999;
}
.help-close {
  position: absolute;
  top: 24px;
  right: 16px;
  opacity: 0.5;
}
.help-bubble {
  width: 240px;
  position: absolute;
  bottom: 48px;
  left: -192px;
  filter: drop-shadow(0px 4px 8px rgba(0, 0, 0, 0.2));
  border-radius: 8px;
  background: #fff;
  display: none;
}
.help-bubble.help-bubble-active {
  display: block;
}
.help-bubble:after {
  content: "";
  position: absolute;
  border: 10px solid;
  border-color: #fff transparent transparent;
  bottom: -20px;
  right: 16px;
}
.hr {
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  margin: 0;
}
.icon {
  display: inline-flex;
}
.icon.icon-img {
  margin: auto;
}
.icon-size-10 {
  width: 10px;
  height: 10px;
}
.icon-size-16 {
  width: 16px;
  height: 16px;
}
.icon-size-24 {
  width: 24px;
  height: 24px;
}
.imgtext-app {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  display: block;
  /* Prevent layout issues with inline images */
  width: 300px;
  height: auto;
}
.live-circle {
  width: 8px;
  height: 8px;
  border-radius: 100%;
  background-color: #d45252;
}
.logo {
  display: flex;
  height: 100px;
}
@media screen and (min-width: 992px) {
  .logo {
    height: 140px;
  }
}
.logo > * {
  margin: auto;
  max-width: 100%;
  max-height: 100%;
}
.logo-pzh {
  max-width: 80%;
}
.logo-groningen {
  max-width: 80%;
}
.logo-bzk {
  max-width: 80%;
}
.logo-iw {
  max-width: 100%;
}
.logo-brabant {
  max-width: 75%;
}
.lyt {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-wrap: wrap;
  column-gap: var(--gap);
  align-items: flex-start;
}
@media screen and (min-width: 992px) {
  .lyt {
    width: var(--container-lg);
    column-gap: var(--gap);
  }
}
.lyt-container {
  /* convenient for nested grid with custom width */
  flex-wrap: wrap;
  display: flex;
  column-gap: var(--gap);
  align-items: flex-start;
}
.lyt-1 {
  width: calc((100% + 32px)*1/1 - 32px);
}
.lyt-1-2 {
  width: calc((100% + 32px)*1/2 - 32px);
}
.lyt-1-3 {
  width: calc((100% + 32px)*1/3 - 32px);
}
.lyt-2-3 {
  width: calc((100% + 32px)*2/3 - 32px);
}
.lyt-1-4 {
  width: calc((100% + 32px)*1/4 - 32px);
}
.lyt-3-4 {
  width: calc((100% + 32px)*3/4 - 32px);
}
.lyt-1-12 {
  width: calc((100% + 32px)*1/12 - 32px);
}
@media screen and (min-width: 992px) {
  .lyt-md-1-2 {
    width: calc((100% + 32px)*1/2 - 32px);
  }
}
@media screen and (min-width: 992px) {
  .lyt-md-1-3 {
    width: calc((100% + 32px)*1/3 - 32px);
  }
}
@media screen and (min-width: 992px) {
  .lyt-md-2-3 {
    width: calc((100% + 32px)*2/3 - 32px);
  }
}
@media screen and (min-width: 992px) {
  .lyt-md-1-4 {
    width: calc((100% + 32px)*1/4 - 32px);
  }
}
@media screen and (min-width: 992px) {
  .lyt-md-3-4 {
    width: calc((100% + 32px)*3/4 - 32px);
  }
}
@media screen and (min-width: 992px) {
  .lyt-md-1-5 {
    width: calc((100% + 32px)*1/5 - 32px);
  }
}
@media screen and (min-width: 992px) {
  .lyt-md-4-5 {
    width: calc((100% + 32px)*4/5 - 32px);
  }
}
@media screen and (min-width: 992px) {
  .lyt-md-1-6 {
    width: calc((100% + 32px)*1/6 - 32px);
  }
}
@media screen and (min-width: 992px) {
  .lyt-md-5-6 {
    width: calc((100% + 32px)*5/6 - 32px);
  }
}
.lyt-overlay {
  z-index: 9999;
  position: fixed;
  pointer-events: none;
  height: 100vh;
  width: 100%;
  display: none;
}
.lyt-overlay.lyt-overlay-active {
  display: block;
}
.lyt-overlay-bar {
  height: 100vh;
  width: 100%;
  background-color: rgba(255, 0, 120, 0.1);
}
.lyt-debug {
  padding: var(--spacing-4);
  border-radius: var(--border-radius);
  background: var(--color-neutral-3);
  text-align: center;
}
.m-1 {
  margin: var(--spacing-1);
}
.m-t1 {
  margin-top: var(--spacing-1);
}
.m-b1 {
  margin-bottom: var(--spacing-1);
}
.m-l1 {
  margin-left: var(--spacing-1);
}
.m-r1 {
  margin-right: var(--spacing-1);
}
.m-x1 {
  margin-left: var(--spacing-1);
  margin-right: var(--spacing-1);
}
.m-y1 {
  margin-top: var(--spacing-1);
  margin-bottom: var(--spacing-1);
}
.m-2 {
  margin: var(--spacing-2);
}
.m-t2 {
  margin-top: var(--spacing-2);
}
.m-b2 {
  margin-bottom: var(--spacing-2);
}
.m-l2 {
  margin-left: var(--spacing-2);
}
.m-r2 {
  margin-right: var(--spacing-2);
}
.m-x2 {
  margin-left: var(--spacing-2);
  margin-right: var(--spacing-2);
}
.m-y2 {
  margin-top: var(--spacing-2);
  margin-bottom: var(--spacing-2);
}
.m-3 {
  margin: var(--spacing-3);
}
.m-t3 {
  margin-top: var(--spacing-3);
}
.m-b3 {
  margin-bottom: var(--spacing-3);
}
.m-l3 {
  margin-left: var(--spacing-3);
}
.m-r3 {
  margin-right: var(--spacing-3);
}
.m-x3 {
  margin-left: var(--spacing-3);
  margin-right: var(--spacing-3);
}
.m-y3 {
  margin-top: var(--spacing-3);
  margin-bottom: var(--spacing-3);
}
.m-4 {
  margin: var(--spacing-4);
}
.m-t4 {
  margin-top: var(--spacing-4);
}
.m-b4 {
  margin-bottom: var(--spacing-4);
}
.m-l4 {
  margin-left: var(--spacing-4);
}
.m-r4 {
  margin-right: var(--spacing-4);
}
.m-x4 {
  margin-left: var(--spacing-4);
  margin-right: var(--spacing-4);
}
.m-y4 {
  margin-top: var(--spacing-4);
  margin-bottom: var(--spacing-4);
}
.m-5 {
  margin: var(--spacing-5);
}
.m-t5 {
  margin-top: var(--spacing-5);
}
.m-b5 {
  margin-bottom: var(--spacing-5);
}
.m-l5 {
  margin-left: var(--spacing-5);
}
.m-r5 {
  margin-right: var(--spacing-5);
}
.m-x5 {
  margin-left: var(--spacing-5);
  margin-right: var(--spacing-5);
}
.m-y5 {
  margin-top: var(--spacing-5);
  margin-bottom: var(--spacing-5);
}
.m-6 {
  margin: var(--spacing-6);
}
.m-t6 {
  margin-top: var(--spacing-6);
}
.m-b6 {
  margin-bottom: var(--spacing-6);
}
.m-l6 {
  margin-left: var(--spacing-6);
}
.m-r6 {
  margin-right: var(--spacing-6);
}
.m-x6 {
  margin-left: var(--spacing-6);
  margin-right: var(--spacing-6);
}
.m-y6 {
  margin-top: var(--spacing-6);
  margin-bottom: var(--spacing-6);
}
.m-7 {
  margin: var(--spacing-7);
}
.m-t7 {
  margin-top: var(--spacing-7);
}
.m-b7 {
  margin-bottom: var(--spacing-7);
}
.m-l7 {
  margin-left: var(--spacing-7);
}
.m-r7 {
  margin-right: var(--spacing-7);
}
.m-x7 {
  margin-left: var(--spacing-7);
  margin-right: var(--spacing-7);
}
.m-y7 {
  margin-top: var(--spacing-7);
  margin-bottom: var(--spacing-7);
}
.m-8 {
  margin: var(--spacing-8);
}
.m-t8 {
  margin-top: var(--spacing-8);
}
.m-b8 {
  margin-bottom: var(--spacing-8);
}
.m-l8 {
  margin-left: var(--spacing-8);
}
.m-r8 {
  margin-right: var(--spacing-8);
}
.m-x8 {
  margin-left: var(--spacing-8);
  margin-right: var(--spacing-8);
}
.m-y8 {
  margin-top: var(--spacing-8);
  margin-bottom: var(--spacing-8);
}
.m-auto {
  margin: auto;
}
.m-xauto {
  margin-left: auto;
  margin-right: auto;
}
.markup-zone {
  font-size: 30px;
  font-family: var(--text-body-font-family);
  font-weight: var(--text-body-font-weight);
  font-size: var(--text-body-sm-font-size);
  line-height: var(--text-body-sm-line-height);
  text-transform: none;
  /* Spacing */
  /* Lists */
  /* Links */
}
@media screen and (min-width: 992px) {
  .markup-zone {
    font-size: var(--text-body-md-font-size);
    line-height: var(--text-body-md-line-height);
  }
}
.markup-zone b, .markup-zone strong {
  font-weight: var(--font-weight-bold);
}
.markup-zone h1 {
  font-family: var(--text-h1-font-family);
  font-weight: var(--text-h1-font-weight);
  font-size: var(--text-h1-sm-font-size);
  line-height: var(--text-h1-sm-line-height);
  text-transform: none;
}
@media screen and (min-width: 992px) {
  .markup-zone h1 {
    font-size: var(--text-h1-md-font-size);
    line-height: var(--text-h1-md-line-height);
  }
}
.markup-zone h2 {
  font-family: var(--text-h2-font-family);
  font-weight: var(--text-h2-font-weight);
  font-size: var(--text-h2-sm-font-size);
  line-height: var(--text-h2-sm-line-height);
  text-transform: none;
}
@media screen and (min-width: 992px) {
  .markup-zone h2 {
    font-size: var(--text-h2-md-font-size);
    line-height: var(--text-h2-md-line-height);
  }
}
.markup-zone h3 {
  font-family: var(--text-h3-font-family);
  font-weight: var(--text-h3-font-weight);
  font-size: var(--text-h3-sm-font-size);
  line-height: var(--text-h3-sm-line-height);
  text-transform: none;
}
@media screen and (min-width: 992px) {
  .markup-zone h3 {
    font-size: var(--text-h3-md-font-size);
    line-height: var(--text-h3-md-line-height);
  }
}
.markup-zone h4 {
  font-family: var(--text-h4-font-family);
  font-weight: var(--text-h4-font-weight);
  font-size: var(--text-h4-sm-font-size);
  line-height: var(--text-h4-sm-line-height);
  text-transform: none;
}
@media screen and (min-width: 992px) {
  .markup-zone h4 {
    font-size: var(--text-h4-md-font-size);
    line-height: var(--text-h4-md-line-height);
  }
}
.markup-zone .intro {
  font-family: var(--text-intro-font-family);
  font-weight: var(--text-intro-font-weight);
  font-size: var(--text-intro-sm-font-size);
  line-height: var(--text-intro-sm-line-height);
  text-transform: none;
}
@media screen and (min-width: 992px) {
  .markup-zone .intro {
    font-size: var(--text-intro-md-font-size);
    line-height: var(--text-intro-md-line-height);
  }
}
.markup-zone h1 {
  margin-bottom: var(--spacing-4);
}
.markup-zone h2 {
  margin-bottom: var(--spacing-3);
}
.markup-zone h3 {
  margin-bottom: var(--spacing-3);
}
.markup-zone h4 {
  margin-bottom: var(--spacing-3);
}
.markup-zone p {
  margin-bottom: var(--spacing-5);
}
.markup-zone h2 + p, .markup-zone h2 + ul, .markup-zone h2 + ol {
  margin-bottom: var(--spacing-5);
}
.markup-zone h3 + p, .markup-zone h3 + ul, .markup-zone h3 + ol {
  margin-bottom: var(--spacing-5);
}
.markup-zone .intro + h2 {
  margin-top: var(--spacing-6);
}
.markup-zone ol, .markup-zone ul {
  padding-left: var(--spacing-5);
  margin-bottom: var(--spacing-5);
}
.markup-zone ul li {
  list-style-type: square;
}
.markup-zone ol li {
  list-style-type: decimal;
}
.markup-zone p > a, .markup-zone li > a {
  text-decoration: underline;
  color: var(--color-brand-1);
}
.menu-sidebar {
  position: fixed;
  right: -100%;
  top: 0;
  height: 100vh;
  z-index: 9999;
  transition: right 0.5s ease-out;
}
.menu-sidebar.menu-sidebar-active {
  right: 0;
}
.menu-sidebar-link {
  border-top: 1px solid var(--color-neutral-3);
}
.menu-sidebar-link:hover {
  color: var(--color-brand-1);
}
.mobile-menu {
  display: none;
}
.mobile-menu.mobile-menu-active {
  display: block;
  min-height: calc(100vh - var(--header-height));
}
.modal {
  position: relative;
  display: none;
  z-index: var(--z-index-popup-modal);
}
.modal.modal-active {
  display: block;
}
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  padding: var(--spacing-2);
}
.modal-header {
  position: fixed;
  background: #fff;
  z-index: 1;
  background: #fff;
  width: 100%;
}
@media screen and (min-width: 992px) {
  .modal-header {
    width: 75%;
    max-width: 640px;
    margin-left: auto;
    margin-right: auto;
    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
  }
}
.modal-box {
  background: #fff;
  top: 0px;
  left: 0;
  width: 100%;
  position: fixed;
  width: 75%;
  max-width: var(--modal-max-width);
  margin-left: auto;
  margin-right: auto;
  /*top: 30%;
        left: 12.5%;
        right: 12.5%;*/
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
  overflow-y: auto;
}
.modal-body {
  /*position: relative;
    top: 20px;
    @include md {
    	top: 20px;
	}*/
}
.p-1 {
  padding: var(--spacing-1);
}
.p-t1 {
  padding-top: var(--spacing-1);
}
.p-b1 {
  padding-bottom: var(--spacing-1);
}
.p-l1 {
  padding-left: var(--spacing-1);
}
.p-r1 {
  padding-right: var(--spacing-1);
}
.p-x1 {
  padding-left: var(--spacing-1);
  padding-right: var(--spacing-1);
}
.p-y1 {
  padding-top: var(--spacing-1);
  padding-bottom: var(--spacing-1);
}
.p-2 {
  padding: var(--spacing-2);
}
.p-t2 {
  padding-top: var(--spacing-2);
}
.p-b2 {
  padding-bottom: var(--spacing-2);
}
.p-l2 {
  padding-left: var(--spacing-2);
}
.p-r2 {
  padding-right: var(--spacing-2);
}
.p-x2 {
  padding-left: var(--spacing-2);
  padding-right: var(--spacing-2);
}
.p-y2 {
  padding-top: var(--spacing-2);
  padding-bottom: var(--spacing-2);
}
.p-3 {
  padding: var(--spacing-3);
}
.p-t3 {
  padding-top: var(--spacing-3);
}
.p-b3 {
  padding-bottom: var(--spacing-3);
}
.p-l3 {
  padding-left: var(--spacing-3);
}
.p-r3 {
  padding-right: var(--spacing-3);
}
.p-x3 {
  padding-left: var(--spacing-3);
  padding-right: var(--spacing-3);
}
.p-y3 {
  padding-top: var(--spacing-3);
  padding-bottom: var(--spacing-3);
}
.p-4 {
  padding: var(--spacing-4);
}
.p-t4 {
  padding-top: var(--spacing-4);
}
.p-b4 {
  padding-bottom: var(--spacing-4);
}
.p-l4 {
  padding-left: var(--spacing-4);
}
.p-r4 {
  padding-right: var(--spacing-4);
}
.p-x4 {
  padding-left: var(--spacing-4);
  padding-right: var(--spacing-4);
}
.p-y4 {
  padding-top: var(--spacing-4);
  padding-bottom: var(--spacing-4);
}
.p-5 {
  padding: var(--spacing-5);
}
.p-t5 {
  padding-top: var(--spacing-5);
}
.p-b5 {
  padding-bottom: var(--spacing-5);
}
.p-l5 {
  padding-left: var(--spacing-5);
}
.p-r5 {
  padding-right: var(--spacing-5);
}
.p-x5 {
  padding-left: var(--spacing-5);
  padding-right: var(--spacing-5);
}
.p-y5 {
  padding-top: var(--spacing-5);
  padding-bottom: var(--spacing-5);
}
.p-6 {
  padding: var(--spacing-6);
}
.p-t6 {
  padding-top: var(--spacing-6);
}
.p-b6 {
  padding-bottom: var(--spacing-6);
}
.p-l6 {
  padding-left: var(--spacing-6);
}
.p-r6 {
  padding-right: var(--spacing-6);
}
.p-x6 {
  padding-left: var(--spacing-6);
  padding-right: var(--spacing-6);
}
.p-y6 {
  padding-top: var(--spacing-6);
  padding-bottom: var(--spacing-6);
}
.p-7 {
  padding: var(--spacing-7);
}
.p-t7 {
  padding-top: var(--spacing-7);
}
.p-b7 {
  padding-bottom: var(--spacing-7);
}
.p-l7 {
  padding-left: var(--spacing-7);
}
.p-r7 {
  padding-right: var(--spacing-7);
}
.p-x7 {
  padding-left: var(--spacing-7);
  padding-right: var(--spacing-7);
}
.p-y7 {
  padding-top: var(--spacing-7);
  padding-bottom: var(--spacing-7);
}
.p-8 {
  padding: var(--spacing-8);
}
.p-t8 {
  padding-top: var(--spacing-8);
}
.p-b8 {
  padding-bottom: var(--spacing-8);
}
.p-l8 {
  padding-left: var(--spacing-8);
}
.p-r8 {
  padding-right: var(--spacing-8);
}
.p-x8 {
  padding-left: var(--spacing-8);
  padding-right: var(--spacing-8);
}
.p-y8 {
  padding-top: var(--spacing-8);
  padding-bottom: var(--spacing-8);
}
@media screen and (min-width: 992px) {
  .p-md-4 {
    padding: var(--spacing-4);
  }
}
@media screen and (min-width: 992px) {
  .p-md-y8 {
    padding-top: var(--spacing-8);
    padding-bottom: var(--spacing-8);
  }
}
@media screen and (min-width: 992px) {
  .p-md-x7 {
    padding-left: var(--spacing-7);
    padding-right: var(--spacing-7);
  }
}
@media screen and (min-width: 992px) {
  .p-md-y7 {
    padding-top: var(--spacing-7);
    padding-bottom: var(--spacing-7);
  }
}
.placeholder {
  border: 3px dashed #ccc;
  border-radius: 10px;
}
.product-feature-circle {
  width: 80px;
  height: 80px;
  background: #eee;
  border-radius: 50%;
}
@media screen and (min-width: 992px) {
  .product-feature-circle {
    width: 80px;
    height: 80px;
  }
}
.size-header-logo {
  max-width: 100px;
}
@media screen and (min-width: 992px) {
  .size-header-logo {
    max-width: 120px;
  }
}
.size-text-input {
  width: 100%;
  max-width: 300px;
}
.size-header {
  height: var(--header-height-sm);
}
@media screen and (min-width: 992px) {
  .size-header {
    height: var(--header-height-md);
  }
}
.size-full-height {
  height: calc(100vh - var(--header-height-sm));
  min-height: 400px;
}
@media screen and (min-width: 992px) {
  .size-full-height {
    height: calc(100vh - var(--header-height-md));
  }
}
.size-height-100 {
  height: calc(100% - var(--spacing-4));
}
.size-btn-vote {
  min-width: 80px;
}
.size-hero-illustration {
  max-width: 50%;
}
.size-logo-follow {
  max-width: 40px;
}
.size-statement-interact {
  max-width: 100%;
}
@media screen and (min-width: 992px) {
  .size-statement-interact {
    width: 600px;
  }
}
.size-statement-text {
  min-height: 96px;
}
@media screen and (min-width: 992px) {
  .size-statement-text {
    min-height: 128px;
  }
}
.size-side-menu {
  width: 300px;
  max-width: 100%;
}
.size-visualisation {
  width: 500px;
  max-width: 100%;
  height: calc(100vh - 280px);
  min-height: 300px;
  overflow: scroll;
}
.statement-area {
  position: relative;
}
.statement-current {
  display: none;
}
.statement-current.statement-current-active {
  display: block;
}
.statement-custom-add-header {
  font-family: var(--text-body-font-family);
  font-weight: var(--text-body-font-weight);
  font-size: var(--text-body-sm-font-size);
  line-height: var(--text-body-sm-line-height);
  text-transform: none;
}
@media screen and (min-width: 992px) {
  .statement-custom-add-header {
    font-size: var(--text-body-md-font-size);
    line-height: var(--text-body-md-line-height);
  }
}
.statement-custom-add-header:hover {
  text-decoration: underline;
}
.statement-custom.statement-custom-active .statement-custom-add-header {
  text-decoration: none;
  font-family: var(--text-h1-font-family);
  font-weight: var(--text-h1-font-weight);
  font-size: var(--text-h1-sm-font-size);
  line-height: var(--text-h1-sm-line-height);
  text-transform: none;
}
@media screen and (min-width: 992px) {
  .statement-custom.statement-custom-active .statement-custom-add-header {
    font-size: var(--text-h1-md-font-size);
    line-height: var(--text-h1-md-line-height);
  }
}
.statement-custom-textarea {
  display: none;
  outline-color: var(--color-brand-1);
}
.statement-custom.statement-custom-active .statement-custom-textarea {
  display: block;
  border: 1px solid var(--color-neutral-3);
  width: 100%;
  resize: vertical;
  min-height: 5em;
  max-height: 7em;
}
.statement-help {
  position: absolute;
  bottom: var(--spacing-5);
  right: var(--spacing-5);
}
.statement-custom-close {
  display: none;
}
.statement-custom-close.statement-custom-close-active {
  display: block;
  position: absolute;
  right: var(--spacing-5);
  top: var(--spacing-5);
}
.tab-link {
  border-bottom: 3px solid #fff;
  font-family: var(--text-h4-font-family);
  font-weight: var(--text-h4-font-weight);
  font-size: var(--text-h4-sm-font-size);
  line-height: var(--text-h4-sm-line-height);
  text-transform: none;
  line-height: 4rem;
  font-weight: 300;
}
@media screen and (min-width: 992px) {
  .tab-link {
    font-size: var(--text-h4-md-font-size);
    line-height: var(--text-h4-md-line-height);
  }
}
@media screen and (min-width: 992px) {
  .tab-link {
    line-height: 4rem;
  }
}
.tab-link-active {
  border-color: var(--color-brand-1);
  font-weight: 600;
}
.text-h1 {
  font-family: var(--text-h1-font-family);
  font-weight: var(--text-h1-font-weight);
  font-size: var(--text-h1-sm-font-size);
  line-height: var(--text-h1-sm-line-height);
  text-transform: none;
}
@media screen and (min-width: 992px) {
  .text-h1 {
    font-size: var(--text-h1-md-font-size);
    line-height: var(--text-h1-md-line-height);
  }
}
.text-h2 {
  font-family: var(--text-h2-font-family);
  font-weight: var(--text-h2-font-weight);
  font-size: var(--text-h2-sm-font-size);
  line-height: var(--text-h2-sm-line-height);
  text-transform: none;
}
@media screen and (min-width: 992px) {
  .text-h2 {
    font-size: var(--text-h2-md-font-size);
    line-height: var(--text-h2-md-line-height);
  }
}
.text-h3 {
  font-family: var(--text-h3-font-family);
  font-weight: var(--text-h3-font-weight);
  font-size: var(--text-h3-sm-font-size);
  line-height: var(--text-h3-sm-line-height);
  text-transform: none;
}
@media screen and (min-width: 992px) {
  .text-h3 {
    font-size: var(--text-h3-md-font-size);
    line-height: var(--text-h3-md-line-height);
  }
}
.text-h4 {
  font-family: var(--text-h4-font-family);
  font-weight: var(--text-h4-font-weight);
  font-size: var(--text-h4-sm-font-size);
  line-height: var(--text-h4-sm-line-height);
  text-transform: none;
}
@media screen and (min-width: 992px) {
  .text-h4 {
    font-size: var(--text-h4-md-font-size);
    line-height: var(--text-h4-md-line-height);
  }
}
.text-body {
  font-family: var(--text-body-font-family);
  font-weight: var(--text-body-font-weight);
  font-size: var(--text-body-sm-font-size);
  line-height: var(--text-body-sm-line-height);
  text-transform: none;
}
@media screen and (min-width: 992px) {
  .text-body {
    font-size: var(--text-body-md-font-size);
    line-height: var(--text-body-md-line-height);
  }
}
.text-body-small {
  font-family: var(--text-body-small-font-family);
  font-weight: var(--text-body-small-font-weight);
  font-size: var(--text-body-small-sm-font-size);
  line-height: var(--text-body-small-sm-line-height);
  text-transform: none;
}
@media screen and (min-width: 992px) {
  .text-body-small {
    font-size: var(--text-body-small-md-font-size);
    line-height: var(--text-body-small-md-line-height);
  }
}
.text-statement {
  font-family: var(--text-statement-font-family);
  font-weight: var(--text-statement-font-weight);
  font-size: var(--text-statement-sm-font-size);
  line-height: var(--text-statement-sm-line-height);
  text-transform: none;
}
@media screen and (min-width: 992px) {
  .text-statement {
    font-size: var(--text-statement-md-font-size);
    line-height: var(--text-statement-md-line-height);
  }
}
.text-intro {
  font-family: var(--text-intro-font-family);
  font-weight: var(--text-intro-font-weight);
  font-size: var(--text-intro-sm-font-size);
  line-height: var(--text-intro-sm-line-height);
  text-transform: none;
}
@media screen and (min-width: 992px) {
  .text-intro {
    font-size: var(--text-intro-md-font-size);
    line-height: var(--text-intro-md-line-height);
  }
}
.text-menu {
  font-family: var(--text-menu-font-family);
  font-weight: var(--text-menu-font-weight);
  font-size: var(--text-menu-sm-font-size);
  line-height: var(--text-menu-sm-line-height);
  text-transform: none;
}
@media screen and (min-width: 992px) {
  .text-menu {
    font-size: var(--text-menu-md-font-size);
    line-height: var(--text-menu-md-line-height);
  }
}
.text-hero {
  font-family: var(--text-hero-font-family);
  font-weight: var(--text-hero-font-weight);
  font-size: var(--text-hero-sm-font-size);
  line-height: var(--text-hero-sm-line-height);
  text-transform: none;
}
@media screen and (min-width: 992px) {
  .text-hero {
    font-size: var(--text-hero-md-font-size);
    line-height: var(--text-hero-md-line-height);
  }
}
.text-footer-link {
  font-family: var(--text-footer-link-font-family);
  font-weight: var(--text-footer-link-font-weight);
  font-size: var(--text-footer-link-sm-font-size);
  line-height: var(--text-footer-link-sm-line-height);
  text-transform: none;
}
@media screen and (min-width: 992px) {
  .text-footer-link {
    font-size: var(--text-footer-link-md-font-size);
    line-height: var(--text-footer-link-md-line-height);
  }
}
.toggle {
  display: none;
}
@media screen and (min-width: 992px) {
  .toggle {
    position: absolute;
    top: 32px;
    right: 32px;
    display: flex;
  }
}
.toggle-button {
  width: 42px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 1px solid var(--color-neutral-3);
  padding: 8px 12px;
}
.toggle-button:first-child {
  border-top-left-radius: var(--border-radius-1);
  border-bottom-left-radius: var(--border-radius-1);
}
.toggle-button:last-child {
  border-top-right-radius: var(--border-radius-1);
  border-bottom-right-radius: var(--border-radius-1);
  border-right: 0;
}
.toggle-button.toggle-button-active {
  background: var(--color-neutral-5);
}
.toggle-button .toggle-icon-active {
  display: none;
}
.toggle-button .toggle-icon-inactive {
  display: block;
}
.toggle-button.toggle-button-active .toggle-icon-active {
  display: block;
}
.toggle-button.toggle-button-active .toggle-icon-inactive {
  display: none;
}
.u-display-block {
  display: block;
}
@media screen and (min-width: 992px) {
  .u-md-display-block {
    display: block;
  }
}
.u-display-inline {
  display: inline;
}
.u-display-inline-block {
  display: inline-block;
}
.u-display-none {
  display: none;
}
@media screen and (min-width: 992px) {
  .u-md-display-none {
    display: none;
  }
}
@media screen and (min-width: 992px) {
  .u-md-display-block {
    display: block;
  }
}
@media screen and (min-width: 992px) {
  .u-md-display-inline-block {
    display: inline-block;
  }
}
.u-flex {
  display: flex;
}
.u-inline-flex {
  display: inline-flex;
}
@media screen and (min-width: 992px) {
  .u-md-flex {
    display: flex;
  }
}
.u-flex-1 {
  flex: 1;
}
.u-flex-2 {
  flex: 2;
}
.u-flex-3 {
  flex: 3;
}
.u-flex-wrap {
  flex-wrap: wrap;
}
.u-justify-center {
  justify-content: center;
}
.u-justify-end {
  justify-content: flex-end;
}
.u-align-center {
  align-items: center;
}
.u-align-start {
  align-items: flex-start;
}
.u-direction-column {
  flex-direction: column;
}
@media screen and (min-width: 992px) {
  .u-md-direction-row {
    flex-direction: row;
  }
}
.u-direction-row-reverse {
  flex-direction: row-reverse;
}
@media screen and (min-width: 992px) {
  .u-md-direction-row-reverse {
    flex-direction: row-reverse;
  }
}
.u-m-auto {
  margin: auto;
}
.u-mx-auto {
  margin-left: auto;
  margin-right: auto;
}
.u-space-between {
  justify-content: space-between;
}
.u-position-relative {
  position: relative;
}
.u-position-absolute {
  position: absolute;
}
.u-position-fixed {
  position: fixed;
}
.u-text-center {
  text-align: center;
}
.u-text-right {
  text-align: right;
}
.u-border-radius {
  border-radius: var(--border-radius-1);
}
.u-border-radius-50 {
  border-radius: 50%;
}
.u-border-right-radius {
  border-top-right-radius: var(--border-radius-1);
  border-bottom-right-radius: var(--border-radius-1);
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.u-border-left-radius {
  border-top-left-radius: var(--border-radius-1);
  border-bottom-left-radius: var(--border-radius-1);
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.u-box-shadow {
  box-shadow: var(--box-shadow-1);
}
.u-border-none {
  border: none;
}
.u-border-1 {
  border: 1px solid;
}
.u-border-b {
  border-bottom: 2px solid;
}
.u-underline {
  text-decoration: underline;
}
.u-hover-underline:hover {
  text-decoration: underline;
}
.u-hover-pointer:hover {
  cursor: pointer;
}
.u-bg-cover {
  background-size: cover;
}
.u-bg-center {
  background-position: center;
}
.u-w-100 {
  width: 100%;
}
.u-bg-gradient-fade {
  background: linear-gradient(to top, rgba(0, 0, 0, 0.85), transparent);
  position: absolute;
  bottom: 0;
}
:root {
  /* Brand Colors */
  --color-brand-1: #4ae1b9;
  --color-brand-2: #97dcff;
  --color-brand-3: #ceefff;
  --color-brand-4: #edf0ee;
  --color-brand-hover-1: #4ae1b9;
  /*  Neutral Colors */
  --color-neutral-0: #2C2C2C;
  --color-neutral-1: #ffffff;
  --color-neutral-2: #f5f5f5;
  --color-neutral-3: #dedede;
  --color-neutral-4: #bbbbbb;
  --color-neutral-5: #999;
  --color-neutral-6: #555;
  /*  UI Colors */
  --color-ui-1: rgb(255,255,255);
  --color-ui-2: green;
  /* Bar colors */
  --color-bar-agree: #007BC7;
  --color-bar-disagree: #DF6F00;
  --color-bar-skip: #E5F1F9;
  /*  Font stacks */
  --stack-1: "Anuphan", sans-serif;
  /*--stack-1: system-ui, Segoe UI, Roboto, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;;*/
  --stack-1-font-weight-normal: 300;
  --stack-1-font-weight-bold: 600;
  /*  Text Heading 1 */
  --text-h1-font-family: var(--stack-1);
  --text-h1-font-weight: var(--stack-1-font-weight-bold);
  --text-h1-sm-font-size: 2.4rem;
  --text-h1-sm-line-height: 3.2rem;
  --text-h1-md-font-size: 3rem;
  --text-h1-md-line-height: 4rem;
  /*  Text Heading 2 */
  --text-h2-font-family: var(--stack-1);
  --text-h2-font-weight: var(--stack-1-font-weight-bold);
  --text-h2-sm-font-size: 1.9rem;
  --text-h2-sm-line-height: 2.4rem;
  --text-h2-md-font-size: 2.1rem;
  --text-h2-md-line-height: 2.8rem;
  /*  Text Heading 3 */
  --text-h3-font-family: var(--stack-1);
  --text-h3-font-weight: var(--stack-1-font-weight-bold);
  --text-h3-sm-font-size: 1.7rem;
  --text-h3-sm-line-height: 2.4rem;
  --text-h3-md-font-size: 1.8rem;
  --text-h3-md-line-height: 2.4rem;
  /*  Text Heading 4 */
  --text-h4-font-family: var(--stack-1);
  --text-h4-font-weight: var(--stack-1-font-weight-bold);
  --text-h4-sm-font-size: 1.5rem;
  --text-h4-sm-line-height: 2.4rem;
  --text-h4-md-font-size: 1.6rem;
  --text-h4-md-line-height: 2.4rem;
  /* Text body */
  --text-body-font-family: var(--stack-1);
  --text-body-font-weight: var(--stack-1-font-weight-normal);
  --text-body-sm-font-size: 1.5rem;
  --text-body-sm-line-height: 2.4rem;
  --text-body-md-font-size: 1.6rem;
  --text-body-md-line-height: 2.4rem;
  /* Text body small */
  --text-body-small-font-family: var(--stack-1);
  --text-body-small-font-weight: var(--stack-1-font-weight-normal);
  --text-body-small-sm-font-size: 1.3rem;
  --text-body-small-sm-line-height: 2rem;
  --text-body-small-md-font-size: 1.4rem;
  --text-body-small-md-line-height: 2rem;
  /* Text Section title */
  --text-section-title-font-family: var(--stack-2);
  --text-section-title-font-weight: var(--stack-2-font-weight-normal);
  --text-section-title-sm-font-size: 1.8rem;
  --text-section-title-sm-line-height: 2.4rem;
  --text-section-title-md-font-size: 2rem;
  --text-section-title-md-line-height: 3.2rem;
  /* Text Note */
  --text-note-font-family: var(--stack-1);
  --text-note-font-weight: var(--stack-1-font-weight-normal);
  --text-note-sm-font-size: 1.1rem;
  --text-note-sm-line-height: 1.6rem;
  --text-note-md-font-size: 1.3rem;
  --text-note-md-line-height: 2.4rem;
  /* Text menu */
  --text-menu-font-family: var(--stack-1);
  --text-menu-font-weight: var(--stack-1-font-weight-bold);
  --text-menu-sm-font-size: 2rem;
  --text-menu-sm-line-height: 4rem;
  --text-menu-md-font-size: 1.6rem;
  --text-menu-md-line-height: 2.4rem;
  /* Text button */
  --text-button-font-family: var(--stack-1);
  --text-button-font-weight: var(--stack-1-font-weight-bold);
  --text-button-sm-font-size: 1.3rem;
  --text-button-sm-line-height: 2.4rem;
  --text-button-md-font-size: 1.3rem;
  --text-button-md-line-height: 2.4rem;
  /* Text statement */
  --text-statement-font-family: var(--stack-1);
  --text-statement-font-weight: var(--stack-1-font-weight-normal);
  --text-statement-sm-font-size: 2.4rem;
  --text-statement-sm-line-height: 3.2rem;
  --text-statement-md-font-size: 3.2rem;
  --text-statement-md-line-height: 4.2rem;
  /* Text intro */
  --text-intro-font-family: var(--stack-1);
  --text-intro-font-weight: var(--stack-1-font-weight-normal);
  --text-intro-sm-font-size: 2rem;
  --text-intro-sm-line-height: 2.8rem;
  --text-intro-md-font-size: 2.2rem;
  --text-intro-md-line-height: 3.2rem;
  /* Text hero */
  --text-hero-font-family: var(--stack-1);
  --text-hero-font-weight: var(--stack-1-font-weight-bold);
  --text-hero-sm-font-size: 3rem;
  --text-hero-sm-line-height: 3.6rem;
  --text-hero-md-font-size: 4rem;
  --text-hero-md-line-height: 4.8rem;
  /* Text Footer Link */
  --text-footer-link-font-family: var(--stack-1);
  --text-footer-link-font-weight: var(--stack-1-font-weight-normal);
  --text-footer-link-sm-font-size: 1.1rem;
  --text-footer-link-sm-line-height: 1.6rem;
  --text-footer-link-md-font-size: 1.2rem;
  --text-footer-link-md-line-height: 1.6rem;
  /* Spacing */
  --spacing: 0.8rem;
  --gutter: 1.6rem;
  /* Spacing scale */
  --spacing-1: 0.4rem;
  --spacing-2: 0.8rem;
  --spacing-3: 1.2rem;
  --spacing-4: 1.6rem;
  --spacing-5: 2.4rem;
  --spacing-6: 3.2rem;
  --spacing-7: 6.4rem;
  --spacing-8: 12.8rem;
  /* Container sizes */
  --container-lg: 1100px;
  --gap: 32px;
  /* Viewport */
  --size-sm: 600px;
  --size-md: 992px;
  --size-lg: 1280px;
  /* Misc */
  --border-radius-1: 1px;
  --box-shadow-1: 1px 5px 20px rgba(0, 0, 200, 0.1);
  --box-shadow-2: 0px 3px 4px -2px rgba(0, 0, 0, 0.1);
  /* Sizes */
  --header-height-sm: 64px;
  --header-height-md: 80px;
  --modal-max-width: 460px;
}
.visualisation {
  position: relative;
}
.visualisation.visualisation-active {
  display: block;
}
.visualisation-fade {
  width: 100%;
  height: 50px;
  left: 0;
  background: linear-gradient(to top, rgba(255, 255, 255, 0.85), transparent);
  position: absolute;
  bottom: 0;
}